<h1>プロフィール</h1>
<p>ユーザーID　  : <%= @user.id %></p>
<p>ユーザー名　  : <%= @user.name %></p>
<p>メールアドレス: <%= @user.email %></p>
<p>ルームID　   : <%= @user.room_id %></p>
<p>ルーム名　   : <%= @user.room_name %></p>
<p>テナントID   : <%= @user.tenant_id %></p>
